@CHARSET "UTF-8";

@namespace st url('http://semanticturkey.uniroma2.it/xmlns/widget#');

st|conceptTree {
	-moz-binding: url('impl/conceptTree.xml#conceptTree');
	display: -moz-box;
	-moz-box-sizing: border-box;
	-moz-box-orient: vertical;
	-moz-box-flex: 1;
}