@CHARSET "UTF-8";

#datasetList .datasetTitle {
	font-size: 200%;
	font-weight: bold;
}

#datasetList .datasetTitle.nullProperty {
	font-style:italic;
	color: grey;
}

#datasetList .datasetBaseURI {
	color:darkgray;
}
