label.base {
	 color: black; font-size: 11px; font-weight: bold;
}

label.c1 {
	color: red;  font-size: 11px; font-weight: bold;
}

label.c2 {
	color: aqua;  font-size: 11px; font-weight: bold;
}

label.c3 {
	color: green;  font-size: 11px; font-weight: bold;
}

label.c4 {
	color: yellow;  font-size: 11px; font-weight: bold;
}

label.c5 {
	color: blue;  font-size: 11px; font-weight: bold;
}

label.c6 {
	color: gray;  font-size: 11px; font-weight: bold;
}

label.c7 {
	color: lime;  font-size: 11px; font-weight: bold;
}

label.c8 {
	color: olive;  font-size: 11px; font-weight: bold;
}

label.c9 {
	color: navy;  font-size: 11px; font-weight: bold;
}

label.c10 {
	color: fuchsia;  font-size: 11px; font-weight: bold;
}

label.c11 {
	color: maroon;  font-size: 11px; font-weight: bold;
}

label.c12 {
	color: teal;  font-size: 11px; font-weight: bold;
}

label.c13 {
	color: silver;  font-size: 11px; font-weight: bold;
}

label.c14 {
	color: purple;  font-size: 11px; font-weight: bold;
}

textbox.base {
	 color: black; font-size: 11px; font-weight: bold;
}

textbox.c1 {
	color: red;  font-size: 11px; font-weight: bold;
}

textbox.c2 {
	color: aqua;  font-size: 11px; font-weight: bold;
}

textbox.c3 {
	color: green;  font-size: 11px; font-weight: bold;
}

textbox.c4 {
	color: yellow;  font-size: 11px; font-weight: bold;
}

textbox.c5 {
	color: blue;  font-size: 11px; font-weight: bold;
}

textbox.c6 {
	color: gray;  font-size: 11px; font-weight: bold;
}

textbox.c7 {
	color: lime;  font-size: 11px; font-weight: bold;
}

textbox.c8 {
	color: olive;  font-size: 11px; font-weight: bold;
}

textbox.c9 {
	color: navy;  font-size: 11px; font-weight: bold;
}

textbox.c10 {
	color: fuchsia;  font-size: 11px; font-weight: bold;
}

textbox.c11 {
	color: maroon;  font-size: 11px; font-weight: bold;
}

textbox.c12 {
	color: teal;  font-size: 11px; font-weight: bold;
}

textbox.c13 {
	color: silver;  font-size: 11px; font-weight: bold;
}

textbox.c14 {
	color: purple;  font-size: 11px; font-weight: bold;
}