caption {
	border: 1px solid gray;
}


groupbox.whitebg {
	background-color: white;
}

menuitem.cNo {
	font-size: 11px; font-weight: bold;
}

menuitem.c1 {
	background-color: red;  font-size: 11px; font-weight: bold; color: white;
}

menuitem.c2 {
	background-color: aqua;  font-size: 11px; font-weight: bold; color: white;
}

menuitem.c3 {
	background-color: green;  font-size: 11px; font-weight: bold; color: white;
}

menuitem.c4 {
	background-color: yellow;  font-size: 11px; font-weight: bold; color: white;
}

menuitem.c5 {
	background-color: blue;  font-size: 11px; font-weight: bold; color: white;
}

menuitem.c6 {
	background-color: gray;  font-size: 11px; font-weight: bold; color: white;
}

menuitem.c7 {
	background-color: lime;  font-size: 11px; font-weight: bold; color: white;
}

menuitem.c8 {
	background-color: olive;  font-size: 11px; font-weight: bold; color: white;
}

menuitem.c9 {
	background-color: navy;  font-size: 11px; font-weight: bold; color: white;
}

menuitem.c10 {
	background-color: fuchsia;  font-size: 11px; font-weight: bold; color: white;
}

menuitem.c11 {
	background-color: maroon;  font-size: 11px; font-weight: bold; color: white;
}

menuitem.c12 {
	background-color: teal;  font-size: 11px; font-weight: bold; color: white;
}

menuitem.c13 {
	background-color: silver;  font-size: 11px; font-weight: bold; color: white;
}

menuitem.c14 {
	background-color: purple;  font-size: 11px; font-weight: bold; color: white;
}

textbox.cNo {
	font-size: 11px; font-weight: bold;
}

textbox.c1 {
	color: red;  font-size: 11px; font-weight: bold;
}

textbox.c2 {
	color: aqua;  font-size: 11px; font-weight: bold;
}

textbox.c3 {
	color: green;  font-size: 11px; font-weight: bold;
}

textbox.c4 {
	color: yellow;  font-size: 11px; font-weight: bold;
}

textbox.c5 {
	color: blue;  font-size: 11px; font-weight: bold;
}

textbox.c6 {
	color: gray;  font-size: 11px; font-weight: bold;
}

textbox.c7 {
	color: lime;  font-size: 11px; font-weight: bold;
}

textbox.c8 {
	color: olive;  font-size: 11px; font-weight: bold;
}

textbox.c9 {
	color: navy;  font-size: 11px; font-weight: bold;
}

textbox.c10 {
	color: fuchsia;  font-size: 11px; font-weight: bold;
}

textbox.c11 {
	color: maroon;  font-size: 11px; font-weight: bold;
}

textbox.c12 {
	color: teal;  font-size: 11px; font-weight: bold;
}

textbox.c13 {
	color: silver;  font-size: 11px; font-weight: bold;
}

textbox.c14 {
	color: purple;  font-size: 11px; font-weight: bold;
}

menulist.cNo {
	font-size: 11px; font-weight: bold;
}


menulist.c1 {
	color: red;  font-size: 11px; font-weight: bold;
}

menulist.c2 {
	color: aqua;  font-size: 11px; font-weight: bold;
}

menulist.c3 {
	color: green;  font-size: 11px; font-weight: bold;
}

menulist.c4 {
	color: yellow;  font-size: 11px; font-weight: bold;
}

menulist.c5 {
	color: blue;  font-size: 11px; font-weight: bold;
}

menulist.c6 {
	color: gray;  font-size: 11px; font-weight: bold;
}

menulist.c7 {
	color: lime;  font-size: 11px; font-weight: bold;
}

menulist.c8 {
	color: olive;  font-size: 11px; font-weight: bold; 
}

menulist.c9 {
	color: navy;  font-size: 11px; font-weight: bold; 
}

menulist.c10 {
	color: fuchsia;  font-size: 11px; font-weight: bold; 
}

menulist.c11 {
	color: maroon;  font-size: 11px; font-weight: bold; 
}

menulist.c12 {
	color: teal;  font-size: 11px; font-weight: bold; 
}

menulist.c13 {
	color: silver;  font-size: 11px; font-weight: bold;
}

menulist.c14 {
	color: purple;  font-size: 11px; font-weight: bold;
}