@CHARSET "UTF-8";

@namespace st url('http://semanticturkey.uniroma2.it/xmlns/widget#');

treechildren::-moz-tree-checkbox
{
  /* unchecked checkbox treecells. This style MUST come before treechildren::-moz-tree-checkbox(checked) otherwise it won't take effect. */
  list-style-image: none;
}
treechildren::-moz-tree-checkbox(checked)
{
  /* checked checkbox treecells. cbox-check.gif isn't available in
     Firefox 1, 2, and 3 in Mac OS X so you should specify a URL to an image
     in your extension or elsewhere. */
  list-style-image: url("chrome://global/skin/checkbox/cbox-check.gif");
}
treechildren::-moz-tree-checkbox(disabled)
{
  /* disabled checkbox treecells. cbox-check.gif isn't available in
     Firefox 1, 2, and 3 in Mac OS X, so you should specify a URL to an image
     in your extension or elsewhere. */
  list-style-image: url("chrome://global/skin/checkbox/cbox-check-dis.gif");
}

toolbar[ano_id="taxonomyToolbar"] toolbarbutton[disabled="true"] image{
	filter: url("chrome://mozapps/skin/extensions/extensions.svg#greyscale");
	opacity: 0.5;
}