@CHARSET "UTF-8";

@namespace st url('http://semanticturkey.uniroma2.it/xmlns/widget#');

treechildren::-moz-tree-checkbox
{
  /* unchecked checkbox treecells. This style MUST come before treechildren::-moz-tree-checkbox(checked) otherwise it won't take effect. */
	list-style-image: url('checkbox_no.png');
}
treechildren::-moz-tree-checkbox(checked)
{
	list-style-image: url('checkbox_yes.png') !important;
}
treechildren::-moz-tree-checkbox(disabled)
{
	list-style-image: url('checkbox_disabled.png');
}
toolbar[ano_id="taxonomyToolbar"] toolbarbutton[disabled="true"] image{
	filter: url("chrome://mozapps/skin/extensions/extensions.svg#greyscale");
	opacity: 0.5;
}