window {
	max-width:800px;
	max-height:600px;
	min-width:100px;
	min-height:100px;
}

row {
	-moz-box-align: center;
	text-align: center;
}

.gridCol {
	border-right: darkgray solid 1px;
	width:80px;
}

.firstInnerGridCol {
	border-right: darkgray solid 1px;
	width:40px;
}

.innerGridCol {
	width:40px;
}

.headerLabel {
	font-weight:bold;
	padding: 5px 0px;
}

.gridRow {
	-moz-box-align: center;
	border-bottom: darkgray solid 1px;
}

.firstInnerRow {
	border-bottom: darkgray solid 1px;
}

.aclTextbox {
	-moz-appearance:none; /* To ignore/override mozilla stylesheet */
	background:#58FA58;
	color:#0B610B;
	font-weight:bold;
	width:25px;
}

.lockTextbox {
	-moz-appearance:none;
	background:#FA5858;
	color:#8A0808;
	font-weight:bold;
	width:25px;
}

.disabledStatusTextbox {
	-moz-appearance:none;
	background:#A4A4A4;
	width:25px;
}