html {
  cursor: text;
}

.editbox {
  margin: .4em;
  padding: 0;
  font-family: monospace;
  font-size: 10pt;
  color: black;
}

.editbox p {
  margin: 0;
}

span.cm-prec-atom {
  color: #00c;
}

span.cm-prec-punc {
  color: #088;
}

span.cm-prec-invalid {
	color: red;
}

span.cm-prec-error {
  /* color:rgb(0,255,255); */
  /* background-color:rgb(255,0,0); */
  /* text-decoration: underline; */
  border-bottom:2px dotted red;
}
