treechildren::-moz-tree-cell-text {
	color: #000000;  font-size: 11px; font-weight: bold;
}

treechildren::-moz-tree-image(c1) { list-style-image: url("images/colors/c1.png"); }

treechildren::-moz-tree-image(c2) { list-style-image: url("images/colors/c2.png"); }

treechildren::-moz-tree-image(c3) { list-style-image: url("images/colors/c3.png"); }

treechildren::-moz-tree-image(c4) { list-style-image: url("images/colors/c4.png"); }

treechildren::-moz-tree-image(c5) { list-style-image: url("images/colors/c5.png"); }

treechildren::-moz-tree-image(c6) { list-style-image: url("images/colors/c6.png"); }

treechildren::-moz-tree-image(c7) { list-style-image: url("images/colors/c7.png"); }

treechildren::-moz-tree-image(c8) { list-style-image: url("images/colors/c8.png"); }

treechildren::-moz-tree-image(c9) { list-style-image: url("images/colors/c9.png"); }

treechildren::-moz-tree-image(c10) { list-style-image: url("images/colors/c10.png"); }

treechildren::-moz-tree-image(c11) { list-style-image: url("images/colors/c11.png"); }

treechildren::-moz-tree-image(c12) { list-style-image: url("images/colors/c12.png"); }

treechildren::-moz-tree-image(c13) { list-style-image: url("images/colors/c13.png"); }

treechildren::-moz-tree-image(c14) { list-style-image: url("images/colors/c14.png"); }
