treechildren::-moz-tree-image(Class) { 
	list-style-image: url("images/class.png"); 
} 
treechildren::-moz-tree-image(redClass) { 
	list-style-image: url("images/class.png"); 
} 

treechildren::-moz-tree-image(Instance) { 
	list-style-image: url("images/individual.png"); 
} 
treechildren::-moz-tree-image(redInstance) { 
	list-style-image: url("images/individual.png"); 
} 

treechildren::-moz-tree-image(Property) { 
	list-style-image: url("images/prop.png"); 
	} 
treechildren::-moz-tree-image(redProperty) { 
	list-style-image: url("images/prop.png"); 
	} 
	
treechildren::-moz-tree-image(ObjectProperty) { 
	list-style-image: url("images/propObject.png"); 
	}	
treechildren::-moz-tree-image(redObjectProperty) { 
	list-style-image: url("images/propObject.png"); 
	}	
	
treechildren::-moz-tree-image(DatatypeProperty) { 
	list-style-image: url("images/propDatatype.png"); 
	} 
treechildren::-moz-tree-image(redDatatypeProperty) { 
	list-style-image: url("images/propDatatype.png"); 
	} 
	
treechildren::-moz-tree-image(AnnotationProperty) { 
	list-style-image: url("images/propAnnotation.png"); 
	}
treechildren::-moz-tree-image(redAnnotationProperty) { 
	list-style-image: url("images/propAnnotation.png"); 
	}
	
treechildren::-moz-tree-cell-text(Class) {
	color: #000000;  font-size: 11px; font-weight: bold;
}

treechildren::-moz-tree-cell-text(redClass) {
	color: #FFFFFF;  background: red; font-size: 11px; font-weight: bold;
}

treechildren::-moz-tree-cell-text(Instance) {
	color: #000000;  font-size: 11px; font-weight: bold;
}

treechildren::-moz-tree-cell-text(redInstance) {
	color: #FFFFFF;  background: red; font-size: 11px; font-weight: bold;
}
treechildren::-moz-tree-cell-text(Property) {
	color: #000000;  font-size: 11px; font-weight: bold;
}

treechildren::-moz-tree-cell-text(redProperty) {
	color: #FFFFFF;  background: red; font-size: 11px; font-weight: bold;
}
treechildren::-moz-tree-cell-text(ObjectProperty) {
	color: #000000;  font-size: 11px; font-weight: bold;
}

treechildren::-moz-tree-cell-text(redObjectProperty) {
	color: #FFFFFF;  background: red; font-size: 11px; font-weight: bold;
}
treechildren::-moz-tree-cell-text(DatatypeProperty) {
	color: #000000;  font-size: 11px; font-weight: bold;
}

treechildren::-moz-tree-cell-text(redDatatypeProperty) {
	color: #FFFFFF;  background: red; font-size: 11px; font-weight: bold;
}
treechildren::-moz-tree-cell-text(AnnotationProperty) {
	color: #000000;  font-size: 11px; font-weight: bold;
}

treechildren::-moz-tree-cell-text(redAnnotationProperty) {
	color: #FFFFFF;  background: red; font-size: 11px; font-weight: bold;
}

treechildren::-moz-tree-cell(Class) {
	color: #000000;  font-size: 11px; font-weight: bold;
}

treechildren::-moz-tree-cell(redClass) {
	color: #FFFFFF;  background: red; font-size: 11px; font-weight: bold;
}

treechildren::-moz-tree-cell(Instance) {
	color: #000000;  font-size: 11px; font-weight: bold;
}

treechildren::-moz-tree-cell(redInstance) {
	color: #FFFFFF;  background: red; font-size: 11px; font-weight: bold;
}
treechildren::-moz-tree-cell(Property) {
	color: #000000;  font-size: 11px; font-weight: bold;
}

treechildren::-moz-tree-cell(redProperty) {
	color: #FFFFFF;  background: red; font-size: 11px; font-weight: bold;
}
treechildren::-moz-tree-cell(ObjectProperty) {
	color: #000000;  font-size: 11px; font-weight: bold;
}

treechildren::-moz-tree-cell(redObjectProperty) {
	color: #FFFFFF;  background: red; font-size: 11px; font-weight: bold;
}
treechildren::-moz-tree-cell(DatatypeProperty) {
	color: #000000;  font-size: 11px; font-weight: bold;
}

treechildren::-moz-tree-cell(redDatatypeProperty) {
	color: #FFFFFF;  background: red; font-size: 11px; font-weight: bold;
}
treechildren::-moz-tree-cell(AnnotationProperty) {
	color: #000000;  font-size: 11px; font-weight: bold;
}

treechildren::-moz-tree-cell(redAnnotationProperty) {
	color: #FFFFFF;  background: red; font-size: 11px; font-weight: bold;
}

treechildren::-moz-tree-cell-text(nClass) {
	color: #000000;  font-size: 11px; font-weight: bold;
}

treechildren::-moz-tree-cell-text(nredClass) {
	color: #FFFFFF;  background: red; font-size: 11px; font-weight: bold;
}

treechildren::-moz-tree-cell-text(nInstance) {
	color: #000000;  font-size: 11px; font-weight: bold;
}

treechildren::-moz-tree-cell-text(nredInstance) {
	color: #FFFFFF;  background: red; font-size: 11px; font-weight: bold;
}
treechildren::-moz-tree-cell-text(nProperty) {
	color: #000000;  font-size: 11px; font-weight: bold;
}

treechildren::-moz-tree-cell-text(nredProperty) {
	color: #FFFFFF;  background: red; font-size: 11px; font-weight: bold;
}
treechildren::-moz-tree-cell-text(nObjectProperty) {
	color: #000000;  font-size: 11px; font-weight: bold;
}

treechildren::-moz-tree-cell-text(nredObjectProperty) {
	color: #FFFFFF;  background: red; font-size: 11px; font-weight: bold;
}
treechildren::-moz-tree-cell-text(nDatatypeProperty) {
	color: #000000;  font-size: 11px; font-weight: bold;
}

treechildren::-moz-tree-cell-text(nredDatatypeProperty) {
	color: #FFFFFF;  background: red; font-size: 11px; font-weight: bold;
}
treechildren::-moz-tree-cell-text(nAnnotationProperty) {
	color: #000000;  font-size: 11px; font-weight: bold;
}

treechildren::-moz-tree-cell-text(nredAnnotationProperty) {
	color: #FFFFFF;  background: red; font-size: 11px; font-weight: bold;
}

treechildren::-moz-tree-cell(nClass) {
	color: #000000;  font-size: 11px; font-weight: bold;
}

treechildren::-moz-tree-cell(nredClass) {
	color: #FFFFFF;  background: red; font-size: 11px; font-weight: bold;
}

treechildren::-moz-tree-cell(nInstance) {
	color: #000000;  font-size: 11px; font-weight: bold;
}

treechildren::-moz-tree-cell(nredInstance) {
	color: #FFFFFF;  background: red; font-size: 11px; font-weight: bold;
}
treechildren::-moz-tree-cell(nProperty) {
	color: #000000;  font-size: 11px; font-weight: bold;
}

treechildren::-moz-tree-cell(nredProperty) {
	color: #FFFFFF;  background: red; font-size: 11px; font-weight: bold;
}
treechildren::-moz-tree-cell(nObjectProperty) {
	color: #000000;  font-size: 11px; font-weight: bold;
}

treechildren::-moz-tree-cell(nredObjectProperty) {
	color: #FFFFFF;  background: red; font-size: 11px; font-weight: bold;
}
treechildren::-moz-tree-cell(nDatatypeProperty) {
	color: #000000;  font-size: 11px; font-weight: bold;
}

treechildren::-moz-tree-cell(nredDatatypeProperty) {
	color: #FFFFFF;  background: red; font-size: 11px; font-weight: bold;
}
treechildren::-moz-tree-cell(nAnnotationProperty) {
	color: #000000;  font-size: 11px; font-weight: bold;
}

treechildren::-moz-tree-cell(nredAnnotationProperty) {
	color: #FFFFFF;  background: red; font-size: 11px; font-weight: bold;
}